[submodule "vim/pack/gitmodules/start/apprentice"]
	path = vim/pack/gitmodules/start/apprentice
	url = https://github.com/romainl/Apprentice.git
[submodule "vim/pack/gitmodules/start/editorconfig"]
	path = vim/pack/gitmodules/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/gitmodules/fzf"]
	path = vim/pack/gitmodules/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "nvim.d/pack/gitmodules/start/deepsea"]
	path = nvim.d/pack/gitmodules/start/deepsea
	url = https://codeberg.org/flimberger/deepsea.nvim.git
